
html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.right_me {
	float: right;
}

div.centre
{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}